@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.logo {
    color: #FBFFFE;
    font-family: 'Nanum Gothic', sans-serif;
}

.tab {
    color: #FBFFFE;
    font-weight: bold;
    padding-right: 2%;
    padding-left: 2%;
}